{% extends 'registration/base.html' %}
{% load bootstrap4 %}
{% block styles%}
<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Leckerli+One|Merienda|Oleo+Script&display=swap"
    rel="stylesheet">
{% endblock %}

{% block content %}

<style>
    .card {
        width: 60%;
        transform: translateY(2em)
    }

    #cold {
        display: flex;
        justify-content: center;
    }

    .card h4 {
        text-align: center;
    }
</style>
<div class="container" style="font-family: 'Nixie One',cursive;">
    <div class="row">
        <div class="col-md-3"></div>
        <div id="cold" class="col-md-6">
            <!-- Card Light -->
            <div class="card">

                <h4 class="card-title">Y_AGENT</h4>
                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/48.jpg"
                        alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <!-- Text -->
                    <form action="/accounts/register/" method="post">

                        {% csrf_token %}

                        {% bootstrap_form form layout='inline' %}

                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
                        </div>

                        <input type="hidden" name="next" value="{{next}}">
                    </form>
                    <p class="card-text"> Already Have an Account? <a href="/accounts/login/">Sign
                            in</a></p>
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <!-- <button type="button" class="btn btn-primary btn-md">Read more</button> -->

                </div>
                <!-- Card content -->
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}