{% extends 'base.html'%}
{% load bootstrap4 %}
{% load static%}
{% block styles%}
{% bootstrap_css %}
<link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative|Nixie+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
{% endblock %}

{% block content %}
<style>
        * {
        font-family: 'Nixie One';
        }
    #no {
        font-weight: bolder;
        font-size: 6em;
        margin: 0 auto;
        transform: translateY(12rem);
        justify-content: center;
        color: aliceblue;
    }
</style>
<div class="container">
<div class="text-center">
    <a href="{% url 'index'%}" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalSubscriptionForm">
        <i class="fas fa-plus"></i>Add Property</a>
</div>
    <div class="row">
        {% for house in houses %}
        <div class="col-md-3">
            <div class="card">

                <!-- Card image -->
                <div class="card-header">
                    {{house.owner}}
                </div>
                <div class="view overlay">
                    <img class="img-thumbnail" src="{{ house.pic1.url }}" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body">
                    <p class="card-text">{{house.hname}}</p>
                    <!-- Social shares button -->
                    <!-- <a class="activator waves-effect waves-light mr-4"><i class="fas fa-share-alt"></i></a> -->
                    <hr>
                    <!-- Text -->
                    <!-- <p class="card-text"> {{ project.profile }}</p> -->
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p> -->
                    <!-- Link -->
                    <a href="{% url 'single_house' house.id %}" class="black-text d-flex justify-content-end">
                        <h5>View details <i class="fas fa-home"></i></h5>
                    </a>

                </div>

            </div>
        </div>
        {% empty%}
        <h4 id="no">No Houses On Sale</h4>
        {% endfor%}
    </div>
    <!-- modal -->
    <div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Add Property</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'index'%}" method="post" enctype="multipart/form-data">
                    {% csrf_token%}
                    {% bootstrap_form form layout="inline"%}
                    <input type="submit" value="Add Property" class="btn btn-success btn-sm">
                </form>
            </div>
        </div>
    </div>
    <!-- end modal -->
</div>
{% endblock %}